/* Roboto Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Body styles */
body
{background-color:#0062ff;
font-family: "Roboto",sans-serif;
--hue: 217;
--main-colour: hsl(var(--hue), 100%, 66%);
--dark-colour: hsl(var(--hue), 100%, 28%);
}

/* Container styles */
.container 
{
    position: relative;
    text-align: center;
    color: white;
    background-color: var(--dark-colour);
}

/* Nav styles */
nav
{
    display: flex;
    justify-content: center;
    background-color: black;
    gap: 80px;
    padding: 20px;
}

/* Links in Nav styles */
nav a
{
    color: white;
    text-decoration: none;
}

/* Flexbox styles */
.flexbox
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    gap: 75px;
}

/* Header style */
header {
    position:sticky;
    top: 0px;
    z-index: 100;
}

/* Grid Styles */
.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 40px;
    gap: 40px;
}

/* two wide for grid styles */
.two-wide {
    grid-column: span 2;
}

/* H1 styles */
h1{
    text-align: center;
}

/* three columned grid styles */
.three-col {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    gap: 10px;
}

/* box styles */
.box
{
    width: auto;
    height: auto;
    background-color: var(--main-colour);
    color: white; 
    
    
}

/* Table styles */
.table {
    display: grid;
    grid-template-rows: 1fr, auto;
    background-color: var(--main-colour);
    color: white;
}

/* Centering style */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Card Styles */
.card {
    background-color: var(--main-colour);
    border-radius: 20px;
    padding: 2em;
    border: 2px solid var(--dark-colour);
    box-shadow: 10px 8px  hsl(var(--hue), 100%, 10%);
    color: white;
    position: relative;
}

/* Header Styles */
.header{background-color: black;}

/* Paragraph tags in Cards styles */
.card p
{
    font-size: 24px;
}

/* Links in Flexbox styles*/
.flexbox a
{
    text-decoration:underline;
    color: white;
    font-style: italic;
}

/* Boxes in flexboxes styles*/
.flexbox .box
{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

/* Footer Styles */
footer
{
    color: white;
    text-align: center;
    background-color: var(--dark-colour);
}

/* Heading2 in Cards Styles */
.card h2{text-align: center;}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

